In [2]:
# Iterate all tables

import glob
import os

csv_files = glob.glob("csv/*.csv")

RIVALS = ["Keming", "Professor Yuan", "Haoru", "David", "Vic", "Carl", "Ishun", "Hitokiri Joe", "Natsuhisa", "Bo Kang", "Wataru", "Jud", "Alex Sebastian", "Ballin", "Einar", "Jesse"]
MALES = ["Zhanwu", "Fan Jun", "Changping", "Linus", "Will", "Jeff", "Mohei", "Nishida", "Haruji", "Jin Zhang", "Moritoo", "Curly", "Devlin", "Johnny", "Eric", "Lewt"]
LADIES = ["Shuzhen", "Fang Qing", "Suhua", "Sabrina", "Barbara", "Vicki", "Osan", "Shizuko", "Eri", "Ye Suping", "Kesa", "Laurey", "Alicia", "Gilda", "Morgana", "Pearl"]

t1 = 0
t2 = 0
u = 0

for csv_file in csv_files:
	allids = []
	table_name = os.path.splitext(os.path.basename(csv_file))[0]
	print(f"Table: {table_name}")
	lad = 0
	lady = ""
	rival = ""
	male = ""
	riv = 0
	mal = 0
	with open(csv_file, "r") as f:
		l = 0
		t = 0
		n = 0
		for line in f:
			# skip header 2 lines
			if l < 2:
				l += 1
				continue
			#print(line.strip().split(",")[5])
			s = line.strip().split(",")[5]
			s = s[1:-1]
			if s != "N/A":
				# check if id is unique
				if s not in allids:
					allids.append(s)
			if True:
				#print(line.strip())
				t += 1
				t1 += 1
				if s in RIVALS or s in MALES or s in LADIES:
					n += 1
					t2 += 1
					if s in RIVALS:
						rival = s

						riv += 1
					elif s in MALES:
						male = s

						mal += 1
					elif s in LADIES:
						lad += 1

						lady = s
				
		u += len(allids)
		print(f"Total unique: {len(allids)}")
		print(f"Total: {t}")
		print(f"Total with names: {n}")
		print(f"Total rivals: {riv} ({rival})")
		print(f"Total males: {mal} ({male})")
		print(f"Total females: {lad} ({lady})")
	print()
	print()

print(f"Total: {t1}")
print(f"Total unique: {u}")
print(f"Total with names: {t2}")

Table: Jigoku Mon
Total unique: 4
Total: 846
Total with names: 524
Total rivals: 110 (Wataru)
Total males: 222 (Moritoo)
Total females: 192 (Kesa)


Table: Human Desire
Total unique: 6
Total: 1446
Total with names: 942
Total rivals: 178 (Carl)
Total males: 385 (Jeff)
Total females: 379 (Vicki)


Table: Our Village
Total unique: 11
Total: 1554
Total with names: 631
Total rivals: 116 (Keming)
Total males: 290 (Zhanwu)
Total females: 225 (Shuzhen)


Table: Cliff
Total unique: 3
Total: 1536
Total with names: 755
Total rivals: 181 (Professor Yuan)
Total males: 147 (Fan Jun)
Total females: 427 (Fang Qing)


Table: Waves of Life
Total unique: 9
Total: 1373
Total with names: 635
Total rivals: 119 (Bo Kang)
Total males: 369 (Jin Zhang)
Total females: 147 (Ye Suping)


Table: Diary of Nurse
Total unique: 6
Total: 1280
Total with names: 667
Total rivals: 134 (Haoru)
Total males: 99 (Changping)
Total females: 434 (Suhua)


Table: Duel in the Sun
Total unique: 8
Total: 1968
Total with names: 976
Total rivals: 128 (Jesse)
Total males: 215 (Lewt)
Total females: 633 (Pearl)


Table: The Man from Laramie
Total unique: 8
Total: 1004
Total with names: 477
Total rivals: 121 (Vic)
Total males: 255 (Will)
Total females: 101 (Barbara)


Table: Black River
Total unique: 8
Total: 1146
Total with names: 509
Total rivals: 122 (Hitokiri Joe)
Total males: 191 (Nishida)
Total females: 196 (Shizuko)


Table: Notorious
Total unique: 7
Total: 2292
Total with names: 1545
Total rivals: 223 (Alex Sebastian)
Total males: 511 (Devlin)
Total females: 811 (Alicia)


Table: Oklahoma
Total unique: 7
Total: 1496
Total with names: 821
Total rivals: 206 (Jud)
Total males: 298 (Curly)
Total females: 317 (Laurey)


Table: Kurutta Kajitsu
Total unique: 5
Total: 935
Total with names: 623
Total rivals: 181 (Natsuhisa)
Total males: 227 (Haruji)
Total females: 215 (Eri)


Table: Chikamatsu Story
Total unique: 12
Total: 964
Total with names: 354
Total rivals: 100 (Ishun)
Total males: 171 (Mohei)
Total females: 83 (Osan)


Table: Gilda
Total unique: 7
Total: 1973
Total with names: 1291
Total rivals: 157 (Ballin)
Total males: 615 (Johnny)
Total females: 519 (Gilda)


Table: Vikings
Total unique: 9
Total: 1199
Total with names: 585
Total rivals: 243 (Einar)
Total males: 165 (Eric)
Total females: 177 (Morgana)


Table: Sabrina
Total unique: 8
Total: 1720
Total with names: 1050
Total rivals: 164 (David)
Total males: 371 (Linus)
Total females: 515 (Sabrina)


Total: 22732
Total unique: 118
Total with names: 12385